body {
    margin: 0px;
    color: #fff;
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
        "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.item {
    display: inline-block;
    margin: 0;
    padding: 0 23px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: top;
    line-height: 49px;
    user-select: none;
    transition: 0.3s;
}

.item + .item {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255.5);
    font-size: 16px;
}

h1.item {
    font-size: 18px;
    font-weight: 800;
}
