body {
    margin: 0px;
    overflow: hidden;
    font-family: open-sans, sans-serif, system-ui, Roboto;
}

h1 {
    color: white;
    text-align: center;

    margin: 0;
    font-size: 2em;
    font-weight: 900;
    transform: translate(-4px, -4px);
    position: relative;
    letter-spacing: 2px;
}

h1:before,
h1:after {
    content: attr(data-text);
}

h1:before {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    mask: repeating-linear-gradient(
        45deg,
        transparent 0 3px,
        rgba(0, 0, 0, 0.5) 0 6px
    );
    text-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px;
}

.header-wrapper {
    position: absolute;
    width: 100%;
    margin-top: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
}

.btn-stripes {
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    touch-action: manipulation;
    text-decoration-thickness: auto;
    border-radius: 8px;
}

.btn-stripes.left {
    transform: rotate(-2deg);
}

.btn-stripes.right {
    transform: rotate(2deg);
}

.btn-stripes:hover {
    transform: translate(4px, 4px);
    color: #FFF;
    background-color: #5df1f7;
}

.btn-stripes:after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transform: translate(8px, 8px);
    border-radius: 8px;

    z-index: -1;
    background-color: #3dd1e7;
    mask: repeating-linear-gradient(
        45deg,
        transparent 0 3px,
        rgba(0, 0, 0, 0.5) 0 6px
    );
    transition: 0.3s;
}

.btn-stripes:hover:after {
    transform: translate(4px, 4px);
}
